*{
  box-sizing: border-box;
  margin :0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color{
  background-color: white;
  padding-top: 20px;
}

.main-content{
  margin-top: 50px;
}

.info_jumbo, .img_jumbo{
  width: 50%;
}

.info_jumbo{
  padding: 100px;
}

.img_jumbo img{
  max-width: 500px;
}

.partners{
  width: 100vw;
  background-color: #1C3C59;
  text-align: center;
  color: white;
  padding: 20px;
  .partner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.roadmap{
  display:flex;
  list-style-type: none;
  margin-bottom: 20px;
  span{
    margin-right: 10px;
  }
}
