header{
  position: fixed;
  top: 0;
  background-color: white;
}


header nav{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  padding: 10px;
  .logo{
    width: 200px;
     img{
      max-width: 100%;
    }

  }
  .nav-item{
    margin-right: 20px;
  }
}
